<% groups = @events_this_week.group_by{|event| event.start_datetime.wday} %>
<% groups = groups.each{|day, events| groups[day] = events.group_by{|event| event.start_datetime.hour}} %>

<h3>This Week</h3>
<div id="week-schedule" class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
          <th>Sunday</th>
        </tr>
      </thead>
      <tbody>
        <% (0..23).each do |hour| %>
          <tr>
            <td><%='%s:00' % [hour]%></td>
            <% (0..6).each do |day| %>
              <td>
                <% (groups.try(:[], day).try(:[], hour) || []).each do |event| %>
                  <%= '%s - %s' % [event.name, common_time(event.start_datetime, daily: true)] %>
                <% end %>
                <%= '--' if groups.try(:[], day).try(:[], hour).blank? %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>