<table class="table table-borderd">
  <thead>
    <tr>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%=anime['link']%></td>
      </tr>
    <% end %>
  </tbody>
</table>