// Place all the styles related to the Admin::Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#slack-settings .actions {
  padding: 15px 0;
}

#items-table .item {
  cursor: pointer;

  &:hover {
    background-color: #d9edf7
  }
  td:first-child {
    width: 32px;
  }
  td {
    line-height: 32px;
  }
}