<h2>Add Item</h2>
<%= bootstrap_form_for @model.model_name, url: admin_settings_path(namespace: @model.class.base_module, type: @model.class.base_class), method: :post do |form| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% @model.class.settings.each do |setting| %>
        <%= form.text_field setting, value: @model.send(setting).to_s.freeze %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', admin_settings_path, class: 'btn btn-default' %>
  <%= form.submit 'Update', class: 'btn btn-default' %>
<% end %>
